@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');

html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Noto Sans', sans-serif;
    position: relative;
    background-color: black;
}
/* body::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -2;
    background-image: url('img/fondo2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    filter: grayscale(30%) blur(1px);
    opacity: 0.8;
} */
body::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    background: radial-gradient(circle, rgba(2,0,36,0) 0%, rgba(0,0,0,1) 100%);
}
nav{
    width: 100%;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
a{
    width: 100px;
    text-decoration: none;
    display:  flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(0px);
    transition: 0.1s;
}
header a{
    transition: 0.4s;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    height: 50px;

}
header a:hover{
    border-bottom: 1px solid #fff;
}
header.scroll-active{
    background-color: rgba(0,0,0,0.3);
    backdrop-filter: blur(200px);
    height: 65px;
}

main{
    width: 100%;
}
.video-fondo{
    width: 100%;
    position: fixed;
    z-index: -2;
    top: 0;
    left: 0;
    opacity: 0.65;
}
.video-fondo video{
    width: 100%;
}
.welcome{
    width: 100%;
    height: calc(100vh - 0px);
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 50px;
    margin: 0px;
}
.welcome p{
    margin: 0px;
    margin-top: 10px;
}
.welcome button{
    margin-top: 100px;
}
button{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    color: unset;
    cursor: pointer;

}
.btn-play i{
    border: 1px solid #fff;
    border-radius: 100px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-play i::before{
    transform: translate(3px);
}
.btn-play{
    transition: 0.4s;
    transition-timing-function: ease-in-out;
}
.btn-play:hover{
    transform: rotate(120deg) scale(1.25);
}

#galeria,
#videos{
    text-align: center;
    padding: 70px 0px;
}
#galeria h2, 
#videos h2{
    font-size: 26px;
}
#galeria .text-galery,
#videos .text-galery{
    width: 500px;
    margin: auto;
    margin-top: 40px;
    font-size: 14px;
    opacity: 0.6;
}
.galeria-cards{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 60px;
}
.card-gl{
    width: 300px;
    height: 400px;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
}
.card-gl img{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    filter: grayscale(20%);
    opacity: 0.5;
    transition: 0.5s;
}
.card-gl .info-card{
    position: absolute;
    width: 100%;
    bottom: 30px;
    transition: 0.5s;
}
.card-gl:hover img{
    filter: grayscale(0%);
    opacity: 1;
}
.card-gl:hover .info-card{
    transform: translateY(100%);
    opacity: 0;
}
.card-gl:hover{
    transform: scale(1.1);
}

.videos-cards{
    margin-top: 70px;
    display: flex;
    justify-content: center;
    gap: 100px;
    width: 100%;
}
.videos-cards .card-video{
    width: 400px;
}
.videos-cards video{
    width: 100%;
}
.card-video p{
    font-size: 14px;
    opacity: 0.6;
}

.caja-btn-inicio{
    display: flex;
    justify-content: flex-end;
    padding-bottom: 50px;
}
.caja-btn-inicio i{
    font-size: 20px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    border-radius: 100px;
}
.caja-btn-inicio i{
    transition: 0.3s;
}
.caja-btn-inicio i:hover{
    transform: scale(1.25);
}

footer{
    background-color: rgb(15 15 15);
    text-align: center;
    padding: 40px 0px;
}

#icon-map{
    animation: animaIcon 5s infinite alternate linear;
}
@keyframes animaIcon {
    0%{
        margin-top: 0px;
    }
    40%{
        margin-top: 0px;
    }
    45%{
        margin-top: -20px;
    }
    47%{
        margin-top: -0px;
    }
    49%{
        margin-top: -15px;
    }
    50%{
        margin-top: 0px
    }
    100%{
        margin-top: 0;
    }
}

/* responsive table*/
@media(max-width: 780px) {
    .galeria-cards{
        flex-wrap: wrap;
    }

    .videos-cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .videos-cards .card-video{
        width: 85%;
    }
}

/* responsive mobile */
@media(max-width:550px){
    nav{
        gap: 0px;
    }

    h1{
        font-size: 40px;

        width: 90%;
        word-wrap: break-word;
        white-space: pre-wrap;
        text-align: center;
    }

    #galeria .text-galery,
    #videos .text-galery{
        width: 90%;
    }

    .welcome{
        width: 90%;
    }
}
/* responsive ultimate */
@media(max-width: 350px){
    nav{
        transform: scale(0.8);
        gap: 10px;
    }

    footer font{
        margin: 0px !important;
    }
}

/* responsive invalid */
.msg-width-invalid{
    display: none !important;
}
@media(max-width: 250px){
    body *{
        display: none !important;
    }
    .msg-width-invalid{
        display: block !important;
        width: 100%;
        text-align: center;
        padding-top: 200px;
    }
}